page-courseDetail {
	.startBtn {
		position: absolute;
		bottom: 0;
	}
	.listPanel {
		background: #fff;
	}
	ion-icon {
		margin-right: 10px;
	}
	.active {
		color: #f53d3d;
	}
	.selected {
		color: #C40000;
	}
}