<ion-header>
	<ion-navbar >
		<ion-title>{{CourseTypeTitle}}</ion-title>
	</ion-navbar>

</ion-header>

<!-- <ion-content (touchend)="touchend($event)" (touchmove)="loadMore($event)"> -->
<ion-content >
<ion-spinner  *ngIf="isLoading" class='ionSpinner'></ion-spinner>
<div  style="height: 667px;">
<!--     <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
	<ion-list>
<!-- 		<ion-item padding *ngFor="let item of courseList" (click)="goCourseDetail(item)">
			<ion-thumbnail item-left>
				<img src="{{item.imgUrl}}">
			</ion-thumbnail>
			<h3>{{item.CourseName}}</h3>
			<p>{{item.CourseIntro}}</p>
		</ion-item> -->

		<course-list-component [courseList]  = "courseList"></course-list-component>

	</ion-list>
<!--   <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content color="primary">
      loadingSpinner="crescent"
      loadingText="Loading more fun...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  </div>
</ion-content>